body {
    height:100%;
    background-color: #f2f2f2;
}
.icon {
    width: 40px;
    height: 40px;
    vertical-align:0px;
    fill: currentColor;
    overflow: hidden;
}
hr{
    width: auto;
}
.dingduan{
    background-color:#2aa094;
    height:25%;
}
.dibu{
    height: auto;
}
.icon {
    width: 40px;
    height: 40px;
    vertical-align: 0em;
    fill: currentColor;
    overflow: hidden;
    line-height: 46px;
}
@media(min-width: 62em) {
    .fixdibu {
        display: none;
    }
}
.fixdibu {
    background-color: white;
    height: 46px;
}
.div5 {
    width: 19.9%;
    float: left;
}
#icon-tianjia path {
    fill: #fade62;
}
#icon-tubiaozhizuomoban path {
    fill:#bedebc;
}
#icon-tianjia path {
    fill: #fade62;
}
.icon-tianjia{
    width: 40px;
    height: 40px;;
}
.icon-icon-test{
    width: 50px;
    height: 50px;
    margin-top: 70px;
}
.tel0{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
.dibu1{
    border-bottom: solid 1px;
}
a{
    color: black;
}
.row1{
    background-color: #2aa094;
    height: 50px;
}
.mar1{
    padding: 10px;
    margin-top: 2px;
}
@media(min-width: 62em){
    .fixdibu{
        display: none;
    }
    .phonetop{
        display: none;
    }
}
.fixdibu{
    background-color: white;
    height: 46px;
}
.p1{
    background-color: #f2f2f2;
    height:90px;
    width: 80px;
}
.fa-file-image-o{
    margin-top: 7px;
}
.icon-fenxiang{
    float: right;
    width: 20px;
    height: 20px;
}
.txt{
    width: 105%;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: red;
}
.zi{
            line-height: 56px;
            z-index: 10000;
            margin-left:auto;
            margin-right: auto;
        }
        .nav0 li a:hover {
            background:#63ab94;
        }
        .nav0 li a:active {
            background:#63ab94;
        }
        .li0{
            padding-right: 0px;
            padding-left: 2px;
        }
        .ul0{
            border: none;
        }

        @media(min-width: 62em){
            .fixdibu{
                display: none;
            }
            .phonetop{
                display: none;
            }
        }
        @media (max-width: 62em) {
            .nav0{
                margin-top: -64px;
            }
        }


