body{
    background-color:#f2f2f2;
    height: 100%;
}
.icon {
    width: 40px;
    height: 40px;
    vertical-align: 0em;
    fill: currentColor;
    overflow: hidden;
    line-height: 46px;
}
@media(min-width: 62em) {
    .fixdibu {
        display: none;
    }
}
.fixdibu {
    background-color: white;
    height: 46px;
}
.div5 {
    width: 19.9%;
    float: left;
}
#icon-tianjia path {
    fill: #fade62;
}
#icon-tubiaozhizuomoban path {
    fill:#bedebc;
}
#icon-tianjia path {
    fill: #fade62;
}
.icon-tianjia{
    width: 40px;
    height: 40px;;
}
.icon-icon-test{
    width: 50px;
    height: 50px;
    margin-top: 70px;
}
.tel0{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
.dibu1{
    border-bottom: solid 1px;
}
a{
    color: black;
}
.row2{
    margin-top: 5px;
}
.mar{
    padding: 10px;
}
.tab1{
    width: 50%;
}
@media(min-width: 62em){
    .fixdibu{
        display: none;
    }
    .phonetop{
        display: none;
    }
}
.fixdibu{
    background-color: white;
    height: 46px;
}
.div5{
    width: 19.9%;
    float: left;
}
.marlr{
    margin-left: -15px;
    margin-right: -15px;
}
.pad0{
    padding: 0px;
}
.mar1{
    margin-top: 5px;
}
.p20{
    padding: 20px;
}
.btn-mar{
    margin-top: 15px;
    margin-bottom: 10px;
}
.p60{
    padding-bottom: 60px;
}
.p00{
    padding-left:0px;
    padding-right: 0px;
    padding-bottom: 60px;
}
.mar50{
    margin-top: 50px;
}
.zi{
            line-height: 56px;
            z-index: 10000;
            margin-left:auto;
            margin-right: auto;
        }
        .nav0 li a:hover {
            background:#63ab94;
        }
        .nav0 li a:active {
            background:#63ab94;
        }
        .li0{
            padding-right: 0px;
            padding-left: 2px;
        }
        .ul0{
            border: none;
        }

        @media(min-width: 62em){
            .fixdibu{
                display: none;
            }
            .phonetop{
                display: none;
            }
        }
        @media (max-width: 62em) {
            .nav0{
                margin-top: -64px;
            }
        }