body{
    background-color:#f2f2f2;
    height: 100%;
}
.pb60{
    padding-bottom: 60px;
}
.zi{
    line-height: 56px;
    z-index: 10000;
    margin-left:auto;
    margin-right: auto;
}
.lianjie{
    float: right;
}
.radio{
    margin: 5px;
}
.icon {
    width: 40px;
    height: 40px;
    vertical-align: 0em;
    fill: currentColor;
    overflow: hidden;
    line-height: 46px;
}
.icon-icon-test{
    margin-top: 80px;
}
#icon-tianjia path {
    fill: #fade62;
}
#icon-faxian path {
    fill: #209cdd;
}
#icon-tubiaozhizuomoban path {
    fill: black;
}
#icon-fenxianglicaichengjiu path {
    fill:  black;
}
#icon-wo path {
    fill:  black;
}
.icon-tianjia{
    width: 40px;
    height: 40px;;
}

@media(min-width: 62em){
    .fixdibu{
        display: none;
    }
    .phonetop{
        display: none;
    }
}
@media (max-width: 62em) {
    .nav0{
        margin-top: -64px;
    }
}
.fixdibu{
    background-color: white;
    height: 46px;
}
.div5{
    width: 19.9%;
    float: left;
}
.morecon{
    cursor:pointer;
    color: black;
    float: right;
    margin-top: -20px;
    background-color: #e1f5f1;
}
.content .text{
    overflow: hidden;
}
.btn0{
    margin-right: 5px;
}
.nav0 li a:hover {
    background:#63ab94;
}
.nav0 li a:active {
    background:#63ab94;
}
.li0{
    padding-right: 0px;
    padding-left: 2px;
}
.ul0{
    border: none;
}
.bg{
    background-color: #2aa094;
}
