body{
    background-color:#f2f2f2;
    height: 100%;
}
.icon {
    width: 40px;
    height: 40px;
    vertical-align: 0em;
    fill: currentColor;
    overflow: hidden;
}
.icon-icon-test{
    width: 70px;
    height: 70px;
    margin-top: 85px;
    margin-bottom: 20px;
}
#icon-tianjia path {
    fill: #fade62;
}
.icon-tianjia{
    width: 40px;
    height: 40px;;
}
#icon-faxian path {
    fill: #209cdd;
}
#icon-tubiaozhizuomoban path {
    fill: black;
}
#icon-fenxianglicaichengjiu path {
    fill:  black;
}
#icon-wo path {
    fill:  black;
}
.row1{
    background-color: #2aa094;
    height: 50px;
}
.mar{
    margin-bottom: 2px;
}
.mar1{
    padding: 10px;
}
.fixdibu{
    background-color: white;
    height: 46px;
}
.div5{
    width: 19.9%;
    float: left;
}
.pb60{
    padding-bottom: 60px
}
.zi{
    line-height: 56px;
    z-index: 10000;
    margin-left:auto;
    margin-right: auto;
}
.nav0 li a:hover {
    background:#63ab94;
}
.nav0 li a:active {
    background:#63ab94;
}
.li0{
    padding-right: 0px;
    padding-left: 2px;
}
.ul0{
    border: none;
}
@media(min-width: 62em){
    .fixdibu{
        display: none;
    }
    .phonetop{
        display: none;
    }
}
@media (max-width: 62em) {
    .nav0{
        margin-top: -64px;
    }
}
.bg{
    background-color: #2aa094;
}