body {
    height:100%;
    width: 100%;
    position: fixed;
    background-color: #f2f2f2;
}
.selector-for-some-widget {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.icon {
    width: 40px;
    height: 40px;
    vertical-align: 0em;
    fill: currentColor;
    overflow: hidden;
    line-height: 46px;
}
.fixdibu {
    background-color: white;
    height: 46px;
}
.div5 {
    width: 19.9%;
    float: left;
}
#icon-tianjia path {
    fill: #fade62;
}
#icon-tubiaozhizuomoban path {
    fill:#bedebc;
}
.icon-tianjia {
    width: 40px;
    height: 40px;
}
.icon-fenxianglicaichengjiu {
    width: 40px;
    height: 40px;
}
.icon-tubiaozhizuomoban {
    width: 40px;
    height: 40px;
}
.icon-fenxianglicaichengjiu {
    width: 40px;
    height: 40px;
}
.icon-wo{
    width: 40px;
    height: 40px;
}
.dibu{
    height: auto;
}
a{
    color: black;
}
.row1{
    background-color: #2aa094;
    height: 50px;
}
@media(min-width: 62em){
    .fixdibu{
        display: none;
    }
    .phonetop{
        display: none;
    }
}
.row2{
    position: fixed;
}
.tianjia{
    width: 100%;
    margin-top: 4px;
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
}
.txt{
    width: 65%;
    min-width: 90%
}
.p1{
    margin-top: -90px;
    margin-left: 15px;
    float: left;
    height:90px;
    width: 80px;
}
.p11{
    margin-top: -90px;
    margin-left: 80px;
    float: left;
    height:90px;
    width: 80px;
}
.icon-didian{
    height: 13px;
    width: 13px;
}
.btn0{
    margin-top: 25px;
    border-radius: 20px;
}
.btn1 {
    background-color: #2BA195;
    color: white;
}
.o1{
	margin-top: 50px;
}
.icon-yingyushuiping{
	width: 40px;
	height: 40px;
}
.zi{
            line-height: 56px;
            z-index: 10000;
            margin-left:auto;
            margin-right: auto;
        }
        .nav0 li a:hover {
            background:#63ab94;
        }
        .nav0 li a:active {
            background:#63ab94;
        }
        .li0{
            padding-right: 0px;
            padding-left: 2px;
        }
        .ul0{
            border: none;
        }

        @media(min-width: 62em){
            .fixdibu{
                display: none;
            }
            .phonetop{
                display: none;
            }
        }
        @media (max-width: 62em) {
            .nav0{
                margin-top: -64px;
            }
        }