body{
    background-color:#f2f2f2;
    height: 100%;
}
.icon {
    width: 20px; height:20px ;
    vertical-align: 0em;
    fill: currentColor;
    overflow: hidden;
}
.row1{
    background-color: #2aa094;
    height: 50px;
}
.zi{
    line-height: 50px;
}
.icon-sousuo{
    float: right;
    margin-top: -40px;
}
.kapian{
    background-color: white;
    padding: 0px;
    margin-top: 5px;
}
.row3{
    margin-top: 5px;
	margin-top: 50px
}
.row4{
    margin-top: 5px;
}
.mar{
    padding: 10px;
}
.btn2{
    margin-right: 15px;
    margin-bottom: 5px;
}
.jindutiao{
	width:70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px
}
.progress-bar{
	width:40%;
}
.more{
	text-align: center;
	margin-top: 100px
}
.zi{
            line-height: 56px;
            z-index: 10000;
            margin-left:auto;
            margin-right: auto;
 }
        .nav0 li a:hover {
            background:#63ab94;
 }
        .nav0 li a:active {
            background:#63ab94;
        }
        .li0{
            padding-right: 0px;
            padding-left: 2px;
        }
        .ul0{
            border: none;
        }

        @media(min-width: 62em){
            .fixdibu{
                display: none;
            }
            .phonetop{
                display: none;
            }
        }
        @media (max-width: 62em) {
            .nav0{
                margin-top: -64px;
            }
        }