
html{
			background-color:#4f9a90;
		}
			
		.item{
			
			width: 100%;
			height: 100%;
		}
		.item img{
			width: 100%;
			height: 100%;
		}
		#tiaoguo{
    		position: absolute;
    		top: 5%;
    		right: 5%;
    	}